@import 'universal/styles/variables.css';
@import 'universal/styles/typography.css';

.navigationContainer {}

.favoritesLink {
  position: fixed;
  right: calc(var(--gutter-padding));
  top: calc(var(--gutter-padding) * 2);
}

.breadcrumbsLinkContainer {
  position: fixed;
  top: calc(var(--gutter-padding) * 2);
  left: calc(var(--gutter-padding) );

  & span {
    margin-right: var(--gutter-padding);
  }

  & span:last-child {
    display: none;
  }
}

.favoritesLink, .breadcrumbsLink a {
  opacity: 1;
  @apply --reset;
  @apply --link;


  padding: calc(var(--unit)* 0.5) 0;

  background-color: white;

  text-transform: uppercase;

  color: var(--palette-blue-grey-200);
  border-bottom-color: var(--palette-blue-grey-200);
  bottom-border-width: 3px;

  &:hover {
    color: var(--color-text);
    border-bottom-color: var(--color-text);
  }
}

@media (--tablet) {
  .navigationContainer {
    height: 75px;
    position: relative;
    overflow: hidden;
  }

  .favoritesLink, .breadcrumbsLinkContainer {
    position: absolute;
  }
}
