@import 'universal/styles/variables.css';

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullHeight {
  height: 100vh;
}

.quarterHeight {
  height: 25vh;
}

.transitionHeight {
  transition: height 350ms ease-in-out;
}

.contentWidth {
  max-width: 690px;
  margin: 0 auto;
  padding: var(--gutter-padding);
}
